@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");


body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #111827, #000000, #111827);
  color: white;
}
html {
  scroll-behavior: smooth;
}
.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.flip-card:hover .flip-inner {
  transform: rotateY(180deg);
}

